<!--The content below is only a placeholder and can be replaced.-->
  <div>
    <!-- <img src="./assets/hotbeverage.png"> -->
    <h2>
      My beverages
    </h2>
  </div>
  <div>
    <label>Beverage name:</label> <input #beverageName />
    <button (click)="add(beverageName.value); beverageName.value=''">
      Add
    </button>
  </div>
  <ul class="beverages">
    <li *ngFor="let beverage of beverages" 
      [class.selected]="beverage === selectedBeverage"
      (click)="onSelect(beverage)">
      <span class="badge">{{beverage.id}}</span> 
      <span>{{beverage.name}}</span>
      <!-- Delete button  -->
      <button class="delete"
        (click)="delete(beverage); $event.stopPropagation()">X</button>
    </li>
  </ul>
<div *ngIf="selectedBeverage">
  <h2>
    {{selectedBeverage.name | uppercase}} = my beverage
  </h2>
  <button (click)="gotoDetail()">View Details</button>
  <br>
  <hr>
</div>