<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <a href="#">Dashboard</a>
  <a href="#">Menu</a>
</nav>
<hr>
  <div style="text-align:center">
    <h1>
      Welcome, {{title}}!
    </h1>
    <img src="./assets/hotbeverage.png">
    <h2>
      My beverages
    </h2>
  </div>
  <ul class="beverages">
    <li *ngFor="let beverage of beverages" 
      [class.selected]="beverage === selectedBeverage"
      (click)="onSelect(beverage)">
      <span class="badge">{{beverage.id}}</span> {{beverage.name}}
    </li>
  </ul>
  <beverage-detail [beverage]="selectedBeverage"></beverage-detail>